html {
	font-size: 16px;
}
body {
	margin: 0;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header img {
	display: inline-block;
	margin: 1.125em;
}
nav {
	float: right;
}
nav ul {
	list-style-type: none;
}
nav ul li {
display: inline-block;
}
nav ul li a {
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 2.25em;
}